<div class="del-list", id="del-con-<%=con.id%>">
  <div>
    <%= con.state.name %>
  </div>
  <div class="del_btn">
    <%= link_to "× 削除", room_condition_path(room_token: @room.token, id: con.id), method: :delete, remote: true %>
  </div>
</div>