/* header/app-title/navの記載はheader.cssと統一 */

.main-left-2header{
  display: flex;
  align-items: center;
}

.create_playlog{
  height: 35px;
  width: 110px;
  padding: 5px 15px;
  font-size: 20px;
  border-radius: 5px;
  text-align: center;
  color: white;
  text-shadow: 1px -1px 5px red;
  background-color: #333631;
}

.delete_room{
  height: 43px;
  width: 130px;
  margin-left: 10px;
  text-align: center;
}

.room-name{
  margin: 10px 20px 5px;
  color: white;
  font-size: 15px;
  border-bottom: solid 1px white;
}

.room-name span{
  text-shadow: 1px 1px 5px red;
  font-size: 30px;
}