.wrap-char-form{
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: none;
}

.form-background{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0%;
  left: 0%;
  z-index: 0;
}

.char-form{
  width: 70%;
  min-height: 540px;
  height: auto;
  margin: 10% 15%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0%;
  left: 0%;
  border-radius: 5px;
  z-index: 1;
}

.long_text_box{
  background-color: white;
  color: black;
  padding-left: 5px;
  height: 200px;
  width: 100%;
  border-radius: 1px;
}

.character_box{
  background-color: white;
  color: black;
  padding-left: 5px;
  height: 40px;
  width: 100%;
  border-radius: 2px;
}

.add-btn{
  height: 40px;
  width: 140px;
  font-size: 25px;
  border-radius: 5px;
  margin: 30px calc(50% - 70px) 10px;
  border: solid 2px black;
  color: white;
  text-align: center;
  box-shadow: 2px 2px 5px black;
  background: linear-gradient(#696969, gray, silver);
}

.hidden-item{
  display: none;
}

.hidden-error{
  display: none;
  color: white;
  font-size: 20px;
}

/* 変調と感情のフォーム */
.condition-feeling-form{
  width: 500px;
  min-height: 300px;
  height: auto;
  max-height: 80vh;
  margin: 100px calc(50% - 250px);
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0%;
  left: 0%;
  border-radius: 5px;
  z-index: 1;
  overflow: scroll;
}

.select_box{
  background-color: rgba(102, 102, 102, 0.8);
  display: inline-block;
  margin: 5px;
  padding: 5px;
  width: 150px;
  height: 35px;
  border-radius: 2px;
}
/* 変調と感情のフォーム */

/* 感情フォーム */
.arrow-shape{
  font-size: 30px;
  color: white;
  padding-left: 15%;
}
/* 感情フォーム */

/* 削除ボタン */
.del-list{
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
  background-color: rgba(225, 225, 225, 0.2);
  padding: 10px 5px;
  font-size: 17px;
  color: white;
}
/* 削除ボタン */

/* セッションルームのエラー表示 */
.error-msg{
  color: red;
  margin-bottom: 10px;
}

.error-msg li{
  list-style-type: circle;
  padding-bottom: 5px;
}
/* セッションルームのエラー表示 */

.lr_unveil_box, .secret_unveil_box{
  background-color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  margin-right: 5px;
  padding: 5px;
  width: 65px;
  height: 35px;
  border-radius: 2px;
}
