.sentences{
  font-size: 15px;
  color: white;
  text-shadow: 0 0 3px black;
  margin: 20px;
}

.room-btn{
  padding: 10px 20px;
  height: 55px;
  width: 160px;
  font-size: 25px;
  border-radius: 5px;
  margin: 0 calc(50% - 80px);
  border: solid 2px black;
  color: white;
  text-shadow: 1px 1px 5px red;
  text-align: center;
  box-shadow: 2px 2px 5px black;
  background: linear-gradient(#696969, gray, silver);
}

.how-to_title{
  height: 40px;
  width: 100%;
  background-color: gray;
  border-radius: 2px;
  font-size: 20px;
  padding: 6px;
  margin: 10px 0;
  text-shadow: 0 0 3px black;
}

.how-to_image{
  width: 90%;
  margin: 10px 5%;
  box-shadow: 0 0 3px white;
  border: 2px solid black;
}

.how-to_small_image{
  max-width: 500px;
  width: 90%;
  margin: 10px 5%;
  box-shadow: 0 0 3px white;
  border: 2px solid black;
}

.how-to_status{
  background-color: gray;
  border-radius: 2px;
  padding: 0 5px;
}