.outer_status_frame{
  display: flex;
  justify-content: space-around;
  margin: 10vh 10vw;
}

.middle_status_frame{
  background-color: #d3d3d3;
  border-radius: 5px;
  margin: 10px;
  padding:10px;
  box-shadow: 1px 1px 5px black;
  height: 170px;
  width: 280px;
}

.input_char_info{
  margin: 10px 10px 20px;
  padding: 10px;
  font-size: 20px;
  text-shadow: 1px 1px 3px white;
  background-color: rgb(167, 167, 167);
  border-radius: 5px;
  box-shadow: 1px 1px 3px black;
}

/* .status_frame{
  background-color: blue;
} */

.character_name_frame{
  height: 50px;
  display: flex;
  border-bottom: 1px solid white;
  align-items: flex-start;
}

.upper_status_frame, .lower_status_frame{
  display: flex;
  justify-content: space-around;
}

/* マウスオーバー部分 */
.status_over_frame{
  background-color: white;
  display: inline-block;
  margin: 5px;
  padding: 10px;
  width: 100px;
  height: 40px;
  border-radius: 2px;
  box-shadow: 1px 1px 4px black;
}

.status_over_frame2{
  width: 100%;
  height: 100%;
}
/* マウスオーバー部分 */

/* クリック部分 */
.click_frame{
  background-color: white;
  display: inline-block;
  margin: 5px;
  padding: 10px;
  width: 100px;
  height: 40px;
  border-radius: 2px;
  box-shadow: 1px 1px 4px black;
}
/* クリック部分 */

/* ラベル部分 */
.pc_number{
  color: rgb(32, 32, 32);
  font-size: 17px;
  border-bottom: 1px solid white;
  margin-bottom: 5px;
}

.character_name{
  color: black;
  text-shadow: 1px -1px 2px red;
  font-size: 20px;
  min-width: 250px;
  width: auto;
  display: inline-block;
  overflow: scroll;
  padding: 0 5px;
}

.status_name{
  text-align: center;
  color: black;
}
/* ラベル部分 */

.add-secret-btn{
  display: inline-block;
  background-color: rgba(100, 100, 100);
  color: white;
  border-radius: 5px;
  height: 35px;
  width: 100px;
  margin: 0 calc(50% - 50px) 10px;
  text-align: center;
  box-shadow: 1px 1px 5px black;
  font-size: 17px;
}

/* 吹き出し部分 */
.char-upper-display{
  color: white;
  height: 180px;
  overflow: scroll;
}

.char-lower-display{
  color: white;
  min-height: 130px;
  height: auto;
  max-height: 300px;
  overflow: scroll;
}

.bubble-list{
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
  background-color: rgba(225, 225, 225, 0.2);
  padding: 10px 5px;
}

.del_btn{
  border-radius: 1px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 30px;
  width: 65px;
  text-align: center;
  padding: 5px;
  border-radius: 1px;
}
/* 吹き出し部分 */

/* 秘密の吹き出し */
.secret_bubble{
  position: relative;
  display: inline-block;
  padding: 10px;
  top: 45%;
  right: 40%;
  width: 300px;
  height: 200px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.secret_bubble::after{
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  border: 10px solid transparent;
  bottom: 100%;
  left: 10%;
  border-bottom: 10px solid rgba(0, 0, 0, 0.7);
}

.input_secret{
  color: white;
  width: 280px;
  height: 180px;
}
/* 秘密の吹き出し */

/* 奥義の吹き出し */
.last_resort_bubble{
  position: relative;
  display: inline-block;
  padding: 10px;
  top: 45%;
  right: 220%;
  width: 300px;
  height: 200px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.last_resort_bubble::after{
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  border: 10px solid transparent;
  bottom: 100%;
  right: 20%;
  border-bottom: 10px solid rgba(0, 0, 0, 0.7);
}

.input_last_resort{
  color: white;
  width: 280px;
  height: 180px;
}
/* 奥義の吹き出し */

/* 変調の吹き出し */
.condition_bubble{
  position: relative;
  display: inline-block;
  padding: 10px;
  top: 0%;
  right: 30%;
  min-width: 250px;
  width: auto;
  min-height: 150px;
  height: auto;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.condition_bubble::after{
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  border: 10px solid transparent;
  bottom: 100%;
  right: 85%;
  border-bottom: 10px solid rgba(0, 0, 0, 0.7);
}
/* 変調の吹き出し */

/* 感情の吹き出し */
.feeling_bubble{
  position: relative;
  display: inline-block;
  padding: 10px;
  top: 0%;
  right: 190%;
  min-width: 250px;
  width: auto;
  min-height: 150px;
  height: auto;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.feeling_bubble::after{
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  border: 10px solid transparent;
  bottom: 100%;
  right: 10%;
  border-bottom: 10px solid rgba(0, 0, 0, 0.7);
}
/* 感情の吹き出し */