<%# CSS...assets/stylesheets/shared/second_header.css %>
<%# ルームへの遷移画面とセッションルームのヘッダー %>

<header>
  <div class="main-left-2header">
    <%= link_to image_tag("title.png", class: "app-title"), root_path %>
    <div class="room-name">部屋名： <span><%= @room.room_name %></span></div>
  </div>

  <div class="main-right-header">
    <ul class="nav">
      <% if user_signed_in? %>
        <div class="create_playlog">
          <li><%= link_to 'プレイ履歴作成', "#" %></li>
          <%# プレイ履歴を作成する %>
        </div>
        <li><%= link_to image_tag("delete_room.png", class: "delete_room"), room_path, method: :delete %></li>
        <%# ルームを削除する前に確認画面欲しい %>
      <% end %>
    </ul>
  </div>
</header>
