<div class="wrap-char-form" id="unveil-lr<%=num%>-<%=lr.last_resort_n%>">
  <div class="form-background"></div>
  <div class="condition-feeling-form">
    <div class="form-title">
      PC<%=num%>の奥義
    </div>
    <div class="form-contents">
      <div class="unveil-content">
        <%= lr.last_resort %>
      </div>
    </div>
  </div>
</div>