<button class="character_name", data-target="edit-char-name<%= num %>", id="character-name<%=num%>">
  <%= "#{selected_char.character_name} (PC#{num})" %>
</button>
<% if @role == 200 %>
  <%= render "characters/char_name_form", num: num, token: @room.token, selected_char: selected_char %>
<% end %>