<%= render "shared/header" %>

<div class="outer-form-wrap">
  <div class="form-wrap">
    <div class="form-title">
    概要
    </div>
    <div class="sentences">
      「忍びアシスト」は、河嶋陶一朗/冒険企画局さま作、忍術バトルRPG「シノビガミ」を遊ぶ際に使用する補助アプリです。
      ココフォリア公式さま作、マルチデバイスオンラインセッションツール「CCFOLIA」で「シノビガミ」を遊ぶときの補助機能として役立てていただければと思います。
    </div><br />
  </div><br />
  <% if user_signed_in? %>
    <br />
    <div>
      <%= link_to '部屋作成', new_room_path, class: "room-btn" %>
    </div><br /><br />
  <% end %>
  <div class="form-wrap">
    <div class="form-title">
      使用方法
    </div>
    <div class="sentences">
    <%# アプリの使い方を記載する %>
      ①GMは上記「部屋作成」ボタンで部屋を作成する。<br /><br />
      ②遷移先のページで「部屋名」「PC数」を入力し、「パスワード」は数字のみで任意で入力してから「作成」ボタンをクリックする。<br /><br />
      ③遷移先のプレイルームページでは以下の操作が可能。<br /><br />
      ・PC名 / 秘密 / 奥義 / 変調 / 感情 は各項目をダブルクリックすることで入力が可能になる。 <br />
      ・秘密と奥義はそれぞれの項目をクリックすることで、公開と未公開を切り替える。<br />
      ・変調と感情はそれぞれの項目にカーソルを持ってくることで状態をみることができる。<br />
    <%# アプリの使い方を記載する %>
    </div><br />
  </div>
</div>