

<%= render "shared/second_header"%>

  <% 1.times do %>

    <div class="outer_status_frame">
      <% @room.player_number.times do %>

        <div class="middle_status_frame">
          キャラクター情報入力
          <div></div>
        </div>

      <% end %>
    </div>

  <% end %>

