<%= render "shared/second_header"%>

<div class="under_header">
  <%# エラーメッセージ表示部分 %>
  <div class="error-display">
    <div class="js-message-errors">
      <% if flash[:error_msg] %>
        <br /><%= flash[:error_msg] %>
      <% end %>
    </div>
  </div>
  <%# エラーメッセージ表示部分 %>

  <%# 招待コード表示 %>
  <div class="copy_invitation_code">
    <div>招待コード</div>
    <div class="copy-box">
      <input name="code" type="text" value=<%= @room.token %> />
    </div>
  </div>
</div>
  <%# 招待コード表示 %>

<%# キャラクター情報表示 %>
<div class="outer_status_frame">
  <% @room.player_number.times do |num| %>
    <%= render "char_info", num: num + 1 %>
  <% end %>
</div>
<%# キャラクター情報表示 %>