/* 全シートに共通するCSS */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@600&display=swap');

body{
  background-color: #a9a9a9;
}

.outer-form-wrap{
  background-color: #666666;
  margin: 10px 10vw 20px;
  padding: 20px 10vw 20px;
  box-shadow: 1px 1px 5px black;
}

.form-wrap{
  background-color: #a9a9a9;
  width: 60vw;
  border-radius: 5px;
  box-shadow: 1px 1px 3px black;
}

*{
  font-family: 'Noto Serif JP', serif;
}

.required-items{
  color: red;
  text-shadow: 1px 1px 3px black;
}