/* 全シートに共通するCSS */

body{
  background-color: #a9a9a9;
}

.outer-form-wrap{
  background-color: #666666;
  margin: 10px 10vw 20px;
  padding: 20px 10vw 20px;
  box-shadow: 1px 1px 5px black;
}

.form-wrap{
  background-color: #a9a9a9;
  width: 60vw;
  border-radius: 5px;
  box-shadow: 1px 1px 3px black;
}

*{
  font-family: 'ヒラギノ明朝 ProN W6';
}

.required-items{
  color: red;
  text-shadow: 1px 1px 3px black;
}