// Place all the styles related to the secrets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* 秘密の吹き出し */
.secret_bubble{
  position: relative;
  display: inline-block;
  padding: 10px;
  top: 45%;
  right: 40%;
  width: 300px;
  height: 200px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.secret_bubble::before{
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  border: 10px solid transparent;
  bottom: 100%;
  left: 10%;
  border-bottom: 10px solid rgba(0, 0, 0, 0.7);
}

.input_secret{
  color: white;
  width: 280px;
  height: 180px;
}
/* 秘密の吹き出し */