// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.actions{
  height: 45px;
  width: 140px;
  font-size: 25px;
  border-radius: 5px;
  margin: 30px calc(50% - 70px) 10px;
  padding-bottom: 5px;
  border: solid 2px black;
  color: white;
  text-align: center;
  box-shadow: 2px 2px 5px black;
  background: linear-gradient(#696969, gray, silver);
}

// ユーザー情報部分
.user-info-wrap{
  background-color: #000000;
  width: 500px;
  min-height: 200px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 5px white;
  margin: 10px calc(50% - 250px);
  padding: 10px;
  color: white;
}

.user-info-title{
  border-bottom: solid 1px white;
  margin: 10px 5%;
}

.user_info{
  font-size: 25px;
  margin-left: 5%;
  text-shadow: 1px 1px 3px red;
}

.change-user-btn{
  height: 40px;
  width: 200px;
  background: linear-gradient(#696969, gray, silver, #696969);
  font-size: 20px;
  margin: 30px calc(50% - 100px);
  padding: 5px 0;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 0 2px white;
  text-shadow: 0 0 3px black;
}
// ユーザー情報部分

// 巻物CSS（他サイト様参考）
.session-log {
  position: relative;
  font-size: 20px;
  min-width: 320px;
  max-width: 90%;
  min-height: 180px;
  margin: 30px;
  padding: 10px;
  border: 12px solid transparent;
  border-left-width: 48px;
  background: linear-gradient(#ffffe0, #f8e58c), linear-gradient(#47885e,#316745);
  background-clip: padding-box, border-box;
  background-origin: border-box;
  box-shadow: 1px 1px 3px black;
}
.session-log:before,
.session-log:after {
  display: inline-block;
  position: absolute;
  content: "";
}
.session-log:before {
  left: -36px;
  top: -32px;
  width: 24px;
  height: calc(100% + 64px);
  background: linear-gradient(to left, #4d4d4d, #9ea1a3 60%, #4d4d4d);
}
.session-log:after {
  left: -48px;
  top: -20px;
  width: 48px;
  height: calc(100% + 40px);
  background: linear-gradient(to left, #00552e, #69b076 55%, #00552e);
}
// 巻物CSS（他サイト様参考）

// セッション履歴部分
.session-logs{
  margin: 10px;
}

.session-log-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.session-log-info{
  border-bottom: 1px solid gray;
  font-size: 15px;
}

.no-session-log{
  height: 100px;
  padding: 20px;
  font-size: 20px;
}

.session-log-link{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}

.log-link{
  background: rgba($color: #000000, $alpha: 0.7);
  color: white;
  padding: 5px 30px;
  border-radius: 1px;
  border-bottom: 2px solid black;
  box-shadow: 1px 1px 2px black;
}
// セッション履歴部分