/* ユーザー管理機能に関するCSS */

.form-title{
  color: white;
  text-align: center;
  text-shadow: 1px -1px 5px black;
  font-size: 35px;
  height: 60px;
  padding: 10px;
  margin: 0 20px;
  border-bottom: solid 2px lightgray;
}

.form-contents{
  padding: 20px 15%;
}

.text_box{
  background-color: white;
  color: black;
  padding-left: 5px;
  height: 40px;
  width: 100%;
  border-radius: 2px;
}

.field{
  color: white;
  margin-bottom: 15px;
}

.field label{
  font-size: 20px;
}

.actions{
  height: 45px;
  width: 140px;
  font-size: 25px;
  border-radius: 5px;
  margin: 30px calc(50% - 70px) 10px;
  padding-bottom: 5px;
  border: solid 2px black;
  color: white;
  text-align: center;
  box-shadow: 2px 2px 5px black;
  background: linear-gradient(#696969, gray, silver);
}